{% extends 'base_accounts.html' %}

{% block title %}
    Đăng Ký
{% endblock %}

{% block content %}
    <section id="form"><!--form-->
        <div class="container">
            <div class="col-sm-6">
                <img src="/media/sp_images/istockphoto-1342849839-170667a.jpg" width="500px" height="500px">
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username"/>
                        <input type="email" name="email" placeholder="Email Address"/>
                        <input type="password" name="password1" placeholder="Password"/>
                        <input type="password" name="password2" placeholder="Confirm Password"/>
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </section><!--/form-->
{% endblock %}